[Unit]
Description= Take a photo every thirty seconds

[Timer]
#OnBootSec=1min
AccuracySec=1us
OnCalendar=*:*:00,30
Unit=carport.service

[Install]
WantedBy=timers.target
