[Unit]
Description=Send the wireless LAN watchdog prowling for a connection.

[Service]
Type=oneshot
User=st33v
ExecStart=-/usr/local/bin/wlanWDprowl.sh
